
body {
background-color: rgba(213, 235, 201, 0.856);
}

p1{font-size: 30px;color: rgb(158, 121, 52);}
div{
    padding:2em
}
.title{ margin-top: 0px;
    background-color:salmon;
    text-align: center;
color: #c2862bd2;
height: 100px;
}
}
.cipherContainer{
   padding: 0px;
}
body{
    margin:0px;
}
/* Asignar estilos a un id */
/* #root{
    background-color: green;
} */

/* Asignar estilos por medio de una clase */
/* .classRoot{
    background-color: brown;
}

.classRoot2{
    background-color: blue;
} */

/* div{
    background-color: yellow;
} */
