body {
background-color: rgba(213, 235, 201, 0.856);
}
h1{ text-align: center;
color: #c2862bd2;
}
p1{font-size: 30px;color: rgb(158, 121, 52);}

/* Asignar estilos a un id */
/* #root{
    background-color: green;
} */

/* Asignar estilos por medio de una clase */
/* .classRoot{
    background-color: brown;
}

.classRoot2{
    background-color: blue;
} */

/* div{
    background-color: yellow;
} */
